<div class="max-w-3xl mx-auto px-5 xl:px-1 min-h-screen pt-10">
    <h1 class="text-xl font-bold text-gray-900 sm:text-3xl">
        Contactez-nous
    </h1>
    <p class="py-6">
        Nous sommes ravis de vous aider avec toutes vos questions, préoccupations ou besoins. Nous sommes là pour vous assister de toutes les manières possibles.
    </p>
    <h2 class="text-xl font-bold text-gray-900 sm:text-2xl">E-mail</h2>
    <p class="py-6">
        Vous pouvez nous envoyer un e-mail à <a class="text-blue-700" href="mailto:ryan@thelightprojekt.com">ryan@thelightprojekt.com</a>, et nous vous répondrons dans les plus brefs délais (Moins de 24h). 
    </p>
    <h2 class="text-xl font-bold text-gray-900 sm:text-2xl" >Réseaux Sociaux</h2>
    <p class="pt-6">
        Vous pouvez egalement nous contacter directement depuis les reseaux sociaux :
    </p>    
    <ul class="pt-2">
        <li>
            <a class="text-blue-700" href="https://www.instagram.com/thelightprojekt">Instagram</a>
        </li>
        <!-- <li>
            <a>Facebook</a>
        </li> -->
    </ul>

</div>