<section class="flex mt-32 bg-white">
    <div class="justify-center flex-1 px-6 py-16 mx-auto lg:py-16 md:px-7">
        <div
            class="max-w-xl p-8 mx-auto border rounded-md text-center ">
            <h2 class="mb-6 text-4xl font-extrabold tracking-wide ">Merci pour votre commande
            </h2>
            <p class="mb-6 ">Vous allez recevoir un mail de confirmation prochainement</p>
            <a routerLink="" routerLinkActive="true" class="text-blue-700 hover:underline ">
                Retourner sur la boutique
            </a>
        </div>
    </div>
</section>
