<div class="max-w-6xl mx-auto px-5 xl:px-1 min-h-screen" *ngIf="pageInfo">
    <div class="text-sm mt-4 w-full p-3 bg-gray-50 text-center border" >
        {{ pageInfo.header }}
    </div>
    <ng-container *ngIf="total$ | async as total; else noTotal">
        <ng-container *ngIf="delivery$ | async as delivery">
        <h2 class="text-xl lg:text-3xl text-black capitalize pt-6 mb-6 text-center lg:text-justify">{{ pageInfo.cart_title }} : {{ total }}€</h2>
        <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8 pt-4">
            <div class="lg:col-span-2">
                <app-cart-item (btnClick)="closeClick($event)" *ngFor="let item of cart$ | async" [cartItem]="item"></app-cart-item>
            </div>
            <app-cart-subtotal 
            [total]="total" 
            [next]="pageInfo.next_button"
            [shipping]="pageInfo.shipping"
            [subtotal]="pageInfo.subtotal"
            [totalText]="pageInfo.total"
            [summary]="pageInfo.order_summary"
            [free_shipping]="pageInfo.free_shipping"
            [shippingPrice]="delivery.price"
            (btnClick)="nextClick()"
            ></app-cart-subtotal>
          </div>
          </ng-container>
    </ng-container>

    <ng-template #noTotal>
        <h2 class="text-xl lg:text-3xl text-black uppercase pt-14 mb-6 text-center">{{ pageInfo.empty_text }}</h2>
        <p class="text-center ">{{ pageInfo.description }}</p>

        <div class="flex justify-center gap-8 mt-8 flex-wrap">   
            <a *ngFor="let link of links"
            class="group relative inline-block text-sm font-medium text-black focus:outline-none focus:ring active:text-black"
            routerLink="{{ link.route }}" routerLinkActive="true"
            >
            <span
            class="absolute inset-0 translate-x-0 translate-y-0 bg-black transition-transform group-hover:translate-y-0.5 group-hover:translate-x-0.5"
            ></span>

            <span class="relative block border border-current bg-white px-8 py-3">
            {{ link.title }}
            </span>
            </a>

        </div>
    </ng-template>

</div>

  
  
