<div class="w-full h-full fixed top-0 left-0 z-50" *ngIf="isModalVisible">
    <div id="modal-bg" class="w-screen h-screen bg-gray-700 opacity-50 top-0 fixed"></div>
    <div id="modal-box" class="sm:w-[385px] sm:min-w-[40vw] min-w-[80vw] flex flex-col bg-white items-center gap-2 -translate-y-1/2 p-6 rounded-lg top-1/2 left-1/2 -translate-x-1/2 absolute">
      <svg *ngIf="!error" xmlns="http://www.w3.org/2000/svg" class="text-[#059669] mx-auto h-11 rounded-full bg-[#D1FAE5] w-11" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M5 13l4 4L19 7" />
      </svg>
      <svg *ngIf="error" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="h-11"
        viewBox="0 0 50 50" xml:space="preserve">
    <circle style="fill:#D75A4A;" cx="25" cy="25" r="25"/>
    <polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;" points="16,34 25,25 34,16 
        "/>
    <polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;" points="16,16 25,25 34,34 
        "/>
    </svg>
      <span class="text-2xl font-medium">{{ title }}</span>
      <p class="text-center">{{ text }}</p>
      <button (click)="close()" class=" w-1/3 p-3 bg-white border rounded-lg text-black mt-6">Fermer</button>
    </div>
  </div>
